/*-------------------------------------*\
    GLOBAL
\*-------------------------------------*/

/**
 * Global 
 * 
 * General site-wide things, currently a bunch of opinionated defaults that I 
 * have, not necesarilly good ones either.
 * 
 **
 * 
 * 
 */ 


/**
 * Creates a sort of top-level, site-wide container for keeping the main
 * elements in a site from getting to big.
 */
%wrapper {
    text-align: left;
    max-width: $max-site-width;
}
    .wrapper { @extend %wrapper; }



/**
 * Create a container to fix issues with horizontal scrolling
 */
%scroll-fix {
    width: 100%;
    overflow: hidden;
}
    .scroll-fix { @extend %scroll-fix; }



/**
 * [Deprecated] Use the inuitcss trumps.spacing module
 * - github.com/inuitcss/trumps.spacing
 *
 * Remove the bottom margin from an element
 */
%one-line {
    margin-bottom: 0;
}
    .one-line { @extend %scroll-fix; }
